.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

.buynow {
  background-color: #d9534f !important;
}

.buynow:hover {
  background-color: #c9302c !important;
}

.text-white {
  color: #ffffff !important;
}

.btn-primary {
  &.btn-inverse {
    @include button-variant($btn-primary-bg, $btn-primary-color, $btn-primary-bg);
    &:hover {
      @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
    }
  }
  &.btn-transparent {
    @include button-variant($btn-primary-bg, transparent, $btn-primary-bg);
    &:hover {
      @include button-variant($btn-primary-bg, darken($btn-primary-bg, 25%), $btn-primary-bg);
    }
  }
}

.dimensions {
  justify-content: center;
}

@media (max-width: 480px) {
  .xs-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.no-flex {
  display: initial !important;
}

.flex-row {
  flex-direction: row !important;
}

footer {
  color: #ffffff;
  background-color: #209cee;

  .copyright {
    background-color: #3287f5;
  }
}

.block {
  position: relative;
  overflow: hidden;
  padding: 200px 0;
}
.block__inner {
  position: relative;
  background: #209cee url("../images/asfalt-dark.png");
}
.block:before, .block:after {
  background: #209cee url("../images/asfalt-dark.png");
  content: "";
  display: block;
  width: 200%;
  height: 200px;
  position: absolute;
  left: -50%;
  z-index: -1;
}
.block:before {
  top: 100px;
  -webkit-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.block:after {
  bottom: 100px;
  -webkit-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
}