a.navbar-brand {
  color: #000000 !important;
}

.jumbotron {
  background-image: linear-gradient(141deg, #04a6d7 0%, #209cee 71%, #3287f5 100%);
}

.navbar {
  margin: 0;
  background-color: rgba(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0);
}

.navbar-brand {
  padding: 5px 15px;
}

.navbar-brand > img {
  height: 100%;
  padding-right: 1rem;
  width: auto;
  display: inline;
}

nav li a {
  color: #fff !important;
}

ul.dropdown-menu li a {
  color: #000000 !important;
}

nav li a:hover, nav .open > a {
  background-color: rgba(50, 135, 245, 0.4) !important;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}

@media (max-width: 480px) {
  nav li.dropdown ul {
    background-color: rgba(50, 135, 245, 0.3) !important;
    a {
      color: #fff !important;
    }
  }
  nav li a {
    color: #fff !important;
  }

  .block .col-xs-6:nth-last-of-type(-n+2) {
    margin-top: 2rem;
  }
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}

.row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}