{% extends "::base.html.twig" %}

{% block title %}Buy now - {{ parent() }}{% endblock %}

{% block body %}
    <div class="container">
        {% include "@App/_flash.html.twig" %}

        {{ form(form) }}
    </div>
{% endblock %}