{% extends "@App/Dashboard/base.html.twig" %}

{% block avanzu_page_title %}Dashboard{% endblock %}

{% block avanzu_page_content %}
    <h1>Welcome to the Dashboard:index page</h1>

    testing

{% endblock %}