{% extends 'AvanzuAdminThemeBundle:layout:default-layout.html.twig' %}

{% block avanzu_document_title %}Zomge{% endblock %}

{% block avanzu_page_title %}Dashboard{% endblock %}
{% block avanzu_page_subtitle %}{% endblock %}

{% block avanzu_sidebar_search %}{% endblock %}

{% block avanzu_page_content %}
<h1>Welcome to the Dashboard:index page</h1>

    testing

{% endblock %}
