{% extends "@App/Dashboard/base.html.twig" %}

{% block avanzu_page_title %}Orders{% endblock %}

{% block avanzu_page_content %}
    <div class="box">
        <div class="box-body">
        </div>
    </div>

{% endblock %}