{% extends "@App/Dashboard/base.html.twig" %}

{% block avanzu_page_title %}Users{% endblock %}

{% block avanzu_page_content %}
    {{ parent() }}

    <div class="box">
        <div class="box-body">
            {{ form(form) }}
        </div>
    </div>

{% endblock %}