<footer>
    <div class="container pt-3 pb-3">
        <p><strong>Address:</strong> New York, Street 11-123</p>
        <p><strong>Phone:</strong> 9912345678</p>
        <p><strong>E-mail:</strong> info@zomge.com</p>
    </div>
    <div class="copyright">
        <div class="container pt-2 pb-2">
            &copy; 2017
        </div>
    </div>
</footer>