<nav class="navbar navbar-default">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <img alt="Brand" src="logo.png"> Zomge
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse">
            <ul class="navbar-text navbar-right">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <li class="dropdown pr-1">
                        <a href="#" class="dropdown-toggle btn btn-success" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ app.user.name }} <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Orders</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{{ path('security_logout') }}">Logout</a></li>
                        </ul>
                    </li>
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="pr-1"><a href="{{ path('admin_index') }}" class="btn btn-default">ADMIN PANEL</a></li>
                    {% endif %}
                {% else %}
                    <a href="{{ path('connect_facebook') }}" class="btn btn-primary mr-1">Login with Facebook</a>
                {% endif %}
                <li><a href="#" class="btn btn-danger">BUY NOW</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>